* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(124, 124, 196);
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.app{
  width: 100%;
  max-width: 480px;
}

.app h1{
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: rgb(7, 32, 157);
}

.todo-lista{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.todo-item{
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  border: 1px solid rgb(34, 34, 198);
  border-radius: 5px;
  padding: 14px 16px;
  font-size: 1rem;
  color: rgb(5, 49, 103);
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.todo-item.completato .testo{
  text-decoration: line-through;
  color: blue;
}

.icona{
  font-size: 1.2rem;
}


.riepilogo{
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
}