* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(124, 124, 196);
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.app{
  width: 100%;
  max-width: 480px;
}

.app h1{
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: rgb(7, 32, 157);
}

.todo-lista{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.todo-input{
  display: flex;
  margin-bottom: 12px; 
  gap: 8px
}
.todo-input input{
  flex: 1;
  padding: 4px 12px;
  border: 2px solid rgb(124, 124, 196);
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.todo-input input:focus{
  border-color: rgb(7,32,157);
}


.todo-input button{
  padding: 6px 12px;
  background: rgb(7,32,157);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;  
}


.todo-filtri{
  display: flex;
  gap: 6px;
  margin-bottom: 12px;
}

.todo-filtri button{
  padding: 6px 12px;
  background: rgb(7,32,157);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;  
}

.todo-filtri button.Incompleti{
  background: rgb(41, 41, 137);
  border-color: blue;
}

.lista-vuota {
  text-align: center;
  color: white;
  padding: 30px 0 ;

}

.testo{
  cursor: pointer;
}

.todo-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  background: white;
  border: 1px solid rgb(34, 34, 198);
  border-radius: 5px;
  padding: 14px 16px;
  font-size: 1rem;
  color: blue;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.todo-item .elimina{
  background: rgb(7,32,157);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 2px 6px;
  border-radius: 50%;
}


.todo-item .elimina:hover{
  background: white;
  color: rgb(7,32,157);
}


.todo-item.completato .testo{
  text-decoration: line-through;
  color: blue;
}

.icona{
  font-size: 1.2rem;
  cursor: pointer;
}


.todo-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding-top: 20px;
  border-top: 1px solid rgb(7,32,157);
  color: white;
  font-size: 0.8rem;
}

.todo-footer button{
  background: rgb(7, 32, 157);
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
}

.todo-footer button:hover{
  background: white;
  color: rgb(7,32,157);
}