PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=biblioteca
DB_USER=postgres
DB_PASSWORD=postgres

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NOME=
ADMIN_COGNOME=


JWT_SECRET=D8ZTMoCBy3X7CNpkIr9YDnQgCHPOdvASqnmq3FMl6cM
JWT_EXPIRES_IN=1h

NODE_ENV=production
